[template]
src   = "my.cnf"
dest  = "/etc/mysql/my.cnf"
owner = "root"
group = "root"
mode  = "0644"
keys = []

check_cmd = "/app/bin/check {{ .src }}"
reload_cmd = "ps axu | grep '/usr/sbin/mysqld' | grep -v grep | awk '{ print $2 }'"
